@media only screen and (max-width: 481px) {
/* Estilos para mobile no modo retrato */

/* Formulario */
/* Titulo */
#form h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 24px;
    padding: 0px 0px 0px 0px;
    font-size: 22pt;
    font-weight: 200;
    color: rgb(0, 0, 0);
}

/* Lista de Inputs */

#form-list{
    flex-direction: column;
    margin: 0px;
    padding-left: 30px;
    padding-right: 30px;
    list-style: none;
}

#form-list li{
    padding: 4px 0px 4px 0px;
}

.label-form{
    padding-left: 10px;
}

.input-form{
    width: 90%;
    margin: auto;
    margin-top: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-radius: 20px;
    border-width: 1px 1.8px 1.8px 1px;
    border-color: #00000036;
    border-style: solid;
    outline: 0;
}

.input-form:focus{
    color: rgb(16, 32, 120);
}

.input-form[type="text"] {
    color: rgb(16, 32, 120); 
}

.input-form::placeholder {
    color: rgb(16, 32, 120);
    font-family: 'Montserrat', sans-serif;
}

/* Mostrar a senha */

.input-container {
    position: relative;
}

#show-password {
    position: absolute;
    right: 10px;
    bottom: 50%;
    top: 50%;
    height: 20px;
    width: 40px;
    border-radius: 5px;
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Montserrat', sans-serif;
}

#eye-icon{
    font-size: 20px;
    color: rgb(16, 32, 120);
}


/* Esqueci a senha */

#form div a{
    display: flex;
    width: 110px;
}

#form a{
    width: 100%;
    margin: 0px 0px 0px 40px;
    font-size: 10pt;
    color: rgb(16, 32, 120);
    text-decoration: none;
}

#form a span{
    border-bottom: 1px solid rgb(16, 32, 120);
}

/* Lista de Botões */


#register-list{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
}

#register-list a{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #fff;
    margin: 0px;
    width: 90px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(16, 32, 120);
}


#register-list button{
    height: 40px;
    width: 90px;
    border-radius: 5px;
    border-style: none;
    color: #fff;
    background-color: rgb(16, 32, 120);
    font-family: 'Montserrat', sans-serif;
}

/* Outros metódos de login */

#form h2{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 16pt;
}

#logins{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
}

.socialmedia-logo{
    flex-direction: row-reverse;
    width: 30px;
}

}
@media only screen and (max-width: 769px) {
    /* Estilos para mobile no modo paisagem e laptops pequenos */

}

@media only screen and (min-width: 1025px) {
    /* Estilos para desktops */
    
}
